{{ "<!-- Footer Section Start -->" | safeHTML }}
<footer id="footer">
    <div class="container">
        <div class="row content-justify-between">
            <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                <p class="copyright">Copyright:
                    <span>
                        <script>document.write(new Date().getFullYear())</script>
                    </span> Mickael Rigonnaux.
                    <br> N° SIRET : 84364910400018
                </p>
            </div>
            <div class="col-md-4 col-12">
                {{ "<!-- Social Media -->" | safeHTML }}
                <ul class="social text-center text-md-right text-lg-right">
                    {{ range .Site.Params.socialIcon }}
                    <li><a href="{{ .url | safeURL }}"><i class="{{ .icon }}"></i></a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</footer>
{{ "<!-- footer section end -->" | safeHTML }}

{{ "<!-- jquery -->" | safeHTML }}
<script src="{{ `plugins/jQurey/jquery.min.js` | absURL }}"></script>
{{ "<!-- Form Validation -->" | safeHTML }}
<script src="{{ `plugins/form-validation/jquery.form.js` | absURL }}"></script>
<script src="{{ `plugins/form-validation/jquery.validate.min.js` | absURL }}"></script>
{{ "<!-- slick slider -->" | safeHTML }}
<script src="{{ `plugins/slick/slick.min.js` | absURL }}"></script>
{{ "<!-- bootstrap js -->" | safeHTML }}
<script src="{{ `plugins/bootstrap/bootstrap.min.js` | absURL }}"></script>
{{ "<!-- wow js -->" | safeHTML }}
<script src="{{ `plugins/wow-js/wow.min.js` | absURL }}"></script>
{{ "<!-- slider js -->" | safeHTML }}
<script src="{{ `plugins/slider/slider.js` | absURL }}"></script>
{{ "<!-- Fancybox -->" | safeHTML }}
<script src="{{ `plugins/facncybox/jquery.fancybox.js` | absURL }}"></script>
{{ "<!-- template main js -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>