{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.contact.enable }}
{{ "<!-- Contact Section Start -->" | safeHTML }}
<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <div class="block">
                    {{ with .Site.Data.contact.contactFormTitle }}<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
                    {{ with .Site.Data.contact.contactFormSubtitle }}<p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                    <h5 class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Adresse en Corse</h5>
                    {{ with .Site.Data.contact.officeAddress2 }}<p class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                    <h5 class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Adresse à Aix-en-Provence</h5>
                    {{ with .Site.Data.contact.officeAddress1 }}<p class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                    <h5 class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Téléphone</h5>
                    {{ with .Site.Data.contact.phone1 }}<p class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                    <h5 class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">Mail</h5>
                    {{ with .Site.Data.contact.mail1 }}<p class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s"><a href="mailto:contact@rm-it.fr">{{ . }}</a></p>{{ end }}
                    <h5 class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">GPG</h5>
                    {{ with .Site.Data.contact.GPG }}<p class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s"><a href="https://rm-it.fr/gpg/rm-it-gpg.pub">{{ . }}</a></p>{{ end }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="map-area">
                    {{ with .Site.Data.contact.mapTitle }}<h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">{{ . }}</h2>{{ end }}
                    {{ with .Site.Data.contact.mapSubtitle }}<p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
                    <div class="map">
                        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=5.454006493091583%2C43.523338355450505%2C5.457547008991242%2C43.524960341427565&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/43.52415/5.45578">Afficher une carte plus grande</a></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row address-details">
            <div class="col-lg-3 col-sm-6">
                <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                    <i class="ion-ios-location-outline"></i>
                    {{ with .Site.Data.contact.officeAddress1 }}<h5>{{ . }}</h5>{{ end }}
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                    <i class="ion-ios-location-outline"></i>
                    {{ with .Site.Data.contact.officeAddress2 }}<h5>{{ . }}</h5>{{ end }}
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                    <i class="ion-ios-email-outline"></i>
                    <p>{{ with .Site.Data.contact.mail1 }}{{ . }}{{ end }}
                        <br>{{ with .Site.Data.contact.mail2 }}{{ . }}{{ end }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                    <i class="ion-ios-telephone-outline"></i>
                    <p>{{ with .Site.Data.contact.phone1 }}{{ . }}{{ end }}
                        <br>{{ with .Site.Data.contact.phone2 }}{{ . }}{{ end }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Contact Section End -->" | safeHTML }}
{{ end }}

{{ partial "cta.html" . }}

{{ end }}